<div class="container my-5">
    <div class="row justify-content-center">
        <form [formGroup]="formulario" (submit)="validaFormulario()" class="col-12 col-md-5 px-0 px-md-5">
            <h4 class="text-center mt-5">Cadastro</h4>
            <div class="justify-content-center">
                <div class="mb-3 mt-md-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" formControlName="nome" [ngClass]="aplicaCssErro('nome')" class="form-control shadow-none" id="nome">
                    <span class="invalid-feedback" style="font-size: 12px;">Campo obrigatório</span>
                </div>
                <div class="mb-3">
                    <label for="cpfCnpj" class="form-label">CPF/CNPJ</label>
                    <input type="text" formControlName="cpfCnpj" [ngClass]="aplicaCssErro('cpfCnpj')" mask="000.000.000-00||00.000.000/0000-00" class="form-control shadow-none" id="cpfCnpj">
                    <span class="invalid-feedback" style="font-size: 12px;">Campo obrigatório</span>
                </div>
                <div class="mb-3">
                    <label for="cep" class="form-label">CEP</label>
                    <input type="text" formControlName="cep" [ngClass]="aplicaCssErro('cep')" mask="00000-000" class="form-control shadow-none" id="cep">
                    <span class="invalid-feedback" style="font-size: 12px;">Campo obrigatório</span>
                </div>
                <div class="mb-3">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input type="text" formControlName="cidade" [ngClass]="aplicaCssErro('cidade')" class="form-control shadow-none" id="cidade">
                    <span class="invalid-feedback" style="font-size: 12px;">Campo obrigatório</span>
                </div>
                <div class="mb-3">
                    <label for="rua" class="form-label">Rua</label>
                    <input type="text" formControlName="rua" [ngClass]="aplicaCssErro('rua')" class="form-control shadow-none" id="rua">
                    <span class="invalid-feedback" style="font-size: 12px;">Campo obrigatório</span>
                </div>
                <div class="mb-3 mt-md-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" formControlName="email" [ngClass]="aplicaCssErro('email')" class="form-control shadow-none" id="email">
                    <span class="invalid-feedback" style="font-size: 12px;">Campo obrigatório</span>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" formControlName="senha" [ngClass]="aplicaCssErro('senha')" class="form-control shadow-none" id="senha">
                    <span class="invalid-feedback" style="font-size: 12px;">Campo obrigatório</span>
                </div>
                <div class="mb-3">
                    <label for="estado" class="form-label">Estado</label>
                    <input type="text" formControlName="estado" [ngClass]="aplicaCssErro('estado')" class="form-control shadow-none" id="estado">
                    <span class="invalid-feedback" style="font-size: 12px;">Campo obrigatório</span>
                </div>
                <div class="mb-3">
                    <label for="bairro" class="form-label">Bairro</label>
                    <input type="text" formControlName="bairro" [ngClass]="aplicaCssErro('bairro')" class="form-control shadow-none" id="bairro">
                    <span class="invalid-feedback" style="font-size: 12px;">Campo obrigatório</span>
                </div>
                <div class="mb-3">
                    <label for="numero" class="form-label">Número</label>
                    <input type="text" formControlName="numero" [ngClass]="aplicaCssErro('numero')" class="form-control shadow-none" id="numero">
                    <span class="invalid-feedback" style="font-size: 12px;">Campo obrigatório</span>
                </div>
            </div>
            <div class="mt-4 text-center">
                <button type="submit" class="btn text-white mb-3 w-100 shadow-none">Cadastrar</button>
            </div>
            <div class="text-center mt-3 mb-5">
                <p class="mb-4 fs-6">Já possui conta?</p>
                <a class="text-dark" routerLink="/login">Entre</a>
            </div> 
        </form>
    </div>
</div>