<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-7 px-0 px-md-5">
            <div class="card border-0 text-center">
                <div class="card-body">
                    <h5 class="card-title">Pagamento Março/2022</h5>
                    <img src="../../assets/qrcode.png" class="my-5" width="250px">
                </div>
                <div class="card-footer bg-white border-0">
                    <h6>Data de vencimento: 10/03/2022</h6>
                    <h6>Valor: 200,00</h6>
                </div>
            </div>
        </div>
    </div>
</div>