<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-12 col-md-7">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Status de Conexão</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-5 mt-md-0">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Avisos</h5>
                </div>
            </div>
        </div>
    </div>
</div>